@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Light.woff2'),
    url('fonts/TTLakes-Light.woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Regular.woff2'),
    url('fonts/TTLakes-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Medium.woff2'),
    url('fonts/TTLakes-Medium.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Bold.woff2'),
    url('fonts/TTLakes-Bold.woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

html {
  box-sizing: border-box;
  /* overflow-x: scroll; */
  background-color: #F8F8F8;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  overflow-x: scroll;
  font-family: 'TT Lakes', sans-serif;

}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.brends {
  background-color: #F2F2F2;
  padding-bottom: 55px;
  min-height: 300px;
}
.swiper-container{
  display: none;
}
.brends-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}
.brends-item {
  position: relative;
  display: flex;
  flex-shrink: 1;
  width: 192px;
  height: 55px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  align-items: center;
  margin: 10px 0;
  margin-right: 25px;
  background-color: white;
  padding: 5px 15px;
  cursor: pointer;
}
.brends__link {
  display: flex;
  align-items: center;
  min-width: 0;
}
.brends-item::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
  left: 75%;
  background-image: url('image/dropdown.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: block;
}
.brends-title {
  min-height: 56px;
  background-color: white;
  background: linear-gradient(to right, #F2F2F2, white);
  margin-bottom: 10px;
}
.brends-title p {
  color: #7E7E82;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}
.brends__visible {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

.brends-item.hidden {
  display: none;
}
.four {
  display: none;
}

@media(max-width:1119px) {
  .container {
    max-width: 627px;
    margin: 0 auto;
 
  }

  .brends-wrapper {
    max-width: 627px;
    margin: 0 auto;
  }

  .brends-item:nth-child(3n) {
    margin-right: 0;
  }

  .brends-item:nth-child(9) {
    margin-right: 25px;
  }

  .brends-item:nth-child(11) {
    margin-right: 0px;
  }
}

@media(min-width:1120px) {
  .four {
    display: flex;
  }

  div.hidden {
    display: flex;

  }

  .container {
    margin: 0 auto;
    max-width: 843px;
  }

  .brends-item:nth-child(4n) {
    margin-right: 0 !important;
  }
}
@media(max-width:768px){
  .container {
    max-width: 627px;
    margin: 0 auto;
    
  }

  .brends-wrapper {
    max-width: 627px;
    margin: 0 auto;

  }

  .brends-item:nth-child(3n) {
    margin-right: 0;
  }

  .brends-item:nth-child(9) {
    margin-right: 25px;
  }

  .brends-item:nth-child(11) {
    margin-right: 0px;
  }
}
@media(max-width:625px){
.brends-item,.hidden{
margin-right: 5px !important;
}
.brends-wrapper{
max-width: 500px;
margin: 0 auto;
justify-content: space-between;
padding: 0 15px;

}
}
@media(max-width:422px){
  .container{
   
    max-width: 300px;
    margin: 0 auto;
  }
  .brends-wrapper{
    max-width: 300px;
    margin: 0 auto;
justify-content: space-around;
   
    
    }
    .brends-title p{
      margin-left: 0;
    }
}
@media(max-width:475px) {
  .brends-container {
    display: none;
  }
  .swiper-container{
    display: block !important;
    padding: 0 25px;
    position: absolute;
    top: 80px;
    min-height: 200px;
 width: 300px;
   }  
  .brends-title p {
    width: 250px;
    margin: 0;
  }
 
  .swiper-slide{
    flex-shrink: 0; 
  
  }
 .swiper-pagination{
   max-width: 401px;
   max-height: 20px;
   position: absolute;
   top: 80px;
   /* left: 20px !important; */
 }
 .container{
   padding: 0 10px;
 }

}
 
