@font-face{
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Light.woff2'),
  url('fonts/TTLakes-Light.woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face{
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Regular.woff2'),
  url('fonts/TTLakes-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face{
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Medium.woff2'),
  url('fonts/TTLakes-Medium.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face{
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Bold.woff2'),
  url('fonts/TTLakes-Bold.woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
html{
  box-sizing: border-box;
  
  }
  *,*::after,*::before{
    box-sizing: inherit;
  }
  body{
    /* min-width: 320px; */
    font-size: 16px;
    overflow-x: scroll;
    font-family: 'TT Lakes',sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
  
  
  }
  ul{
    list-style: none;
  }
  .burger-menu{
  display: flex;
    max-width: 770px;
    /* /* justify-content: space-between; */
    
  } 
  .empty{
    display: inline-block;
    width: 445px;
    background:linear-gradient(to right,#eae7f0 1%,#fafafa 7%,white 10%)
  }
  .red-circle{
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
   background: #FF3E79;
    position: relative;
    cursor: pointer;
    transition: 2s;
  }
  .red-circle a > img{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  }
  .red-circle:hover{
    opacity: 0.3;
  }
  .container{
    padding: 0 25px;
    min-width: 320px;
    padding-bottom: 20px;
  

  }
  .header{
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo{
    margin-right: 60px;
  }
.nav{
 padding-bottom: 275px;
}
.nav__list{
  min-height: 410px;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
  .nav__btn{
  border: none;
    font-size: 16px;
    font-weight: 500;
    transition: 1s;
    color:#1B1C21;
    background-color: inherit;
    cursor: pointer;
  }
  .active-btn{
    color:  #7E7E82
  }
  .footer{
    min-height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.footer__menu{
  display: flex;
}
.footer__menu > div{
  margin-right: 18px;
}
.footer__phone{
  padding-bottom: 40px;
}
.footer__mail-link{
  font-weight: 500;
}
  .footer__mail-link,.footer__phone-link{
    text-decoration: none;
    color:#1B1C21;
  }
  .footer__phone-link{
    font-weight: 600;
    font-size: 24px;;
  }
  .footer__lang{
    display: flex;
    /* flex-direction: column; */
    max-width: 85px;
    justify-content: space-between;
  }
  .footer__lang-btn{
   border: none;
   background-color:inherit;
    color:#1B1C21;
    font-weight: 500;
    cursor: pointer;
  }
  .active{
    color:#7E7E82;
  }